# ==================== JAVA ====================
*.class

# ==================== ECLIPSE ====================
.settings/
.classpath
.project
build/
bin/
target/

# ==================== INTELLIJ ====================
.idea/
*.iml

# ==================== VS CODE ====================
.vscode/

# ==================== LOGS ====================
*.log

# ==================== OS FILES ====================
.DS_Store
Thumbs.db

# ==================== TOMCAT ====================
Servers/
tomcat/

# ==================== TEMP ====================
*.tmp
*.bak
